/* index.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f5f9;
}
body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark a {
  color: #90caf9;
}

body.dark nav {
  background-color: #1f2937; /* darker navbar */
}
